[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Audio;Music;Player;
Name=Apple Music
Exec=brave-browser --ozone-platform=x11 --enable-features=WebContentsForceDark --force-dark-mode --app=https://music.apple.com --class=WebApp-AppleMusic --name=WebApp-AppleMusic
StartupWMClass=WebApp-AppleMusic
Icon=apple-music
