#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Proton Mail
Exec=/usr/lib/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=jnpecgipniidlgicjocehkhajgdnjekh
Icon=brave-jnpecgipniidlgicjocehkhajgdnjekh-Default
StartupWMClass=crx_jnpecgipniidlgicjocehkhajgdnjekh
