#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Craft
Exec=/usr/lib/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=fnmifgmpghlebcglajnopegmnloccokp
Icon=brave-fnmifgmpghlebcglajnopegmnloccokp-Default
StartupWMClass=crx_fnmifgmpghlebcglajnopegmnloccokp
Actions=New-document;New-task;Search;Today

[Desktop Action New-document]
Name=New document
Exec=/usr/lib/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=fnmifgmpghlebcglajnopegmnloccokp --app-launch-url-for-shortcuts-menu-item=https://docs.craft.do/editor/new

[Desktop Action New-task]
Name=New task
Exec=/usr/lib/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=fnmifgmpghlebcglajnopegmnloccokp "--app-launch-url-for-shortcuts-menu-item=https://docs.craft.do/home?go=new-task"

[Desktop Action Search]
Name=Search
Exec=/usr/lib/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=fnmifgmpghlebcglajnopegmnloccokp "--app-launch-url-for-shortcuts-menu-item=https://docs.craft.do/home?go=quick-search"

[Desktop Action Today]
Name=Today
Exec=/usr/lib/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=fnmifgmpghlebcglajnopegmnloccokp --app-launch-url-for-shortcuts-menu-item=https://docs.craft.do/editor/today
