[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Office;
Name=Craft
Exec=pwa-launch WebApp-Craft https://docs.craft.do
StartupWMClass=WebApp-Craft
Icon=craft
Actions=New-document;New-task;Search;Today

[Desktop Action New-document]
Name=New document
Exec=pwa-launch WebApp-Craft https://docs.craft.do/editor/new

[Desktop Action New-task]
Name=New task
Exec=pwa-launch WebApp-Craft "https://docs.craft.do/home?go=new-task"

[Desktop Action Search]
Name=Search
Exec=pwa-launch WebApp-Craft "https://docs.craft.do/home?go=quick-search"

[Desktop Action Today]
Name=Today
Exec=pwa-launch WebApp-Craft https://docs.craft.do/editor/today
