[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Office;Calendar;
Name=Proton Calendar
Exec=brave-browser --ozone-platform=x11 --app=https://calendar.proton.me --class=WebApp-ProtonCalendar --name=WebApp-ProtonCalendar
StartupWMClass=WebApp-ProtonCalendar
Icon=proton-calendar
