[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Network;InstantMessaging;
Name=Teams
Exec=brave-browser --ozone-platform=x11 --app=https://teams.microsoft.com --class=WebApp-Teams --name=WebApp-Teams
StartupWMClass=WebApp-Teams
Icon=teams
