[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Network;InstantMessaging;
Name=Teams
Exec=pwa-launch WebApp-Teams https://teams.microsoft.com
StartupWMClass=WebApp-Teams
Icon=teams
