[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Network;Email;
Name=Proton Mail
Exec=pwa-launch WebApp-ProtonMail https://mail.proton.me
StartupWMClass=WebApp-ProtonMail
Icon=proton-mail
