[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Network;FileTransfer;
Name=Proton Drive
Exec=brave-origin-stable --user-data-dir=__HOME__/.config/BraveSoftware/WebApps/WebApp-ProtonDrive --ozone-platform=x11 --force-dark-mode --app=https://drive.proton.me --class=WebApp-ProtonDrive --name=WebApp-ProtonDrive
StartupWMClass=WebApp-ProtonDrive
Icon=proton-drive
