[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;AudioVideo;Audio;Music;Player;
Name=Apple Music
Exec=pwa-launch WebApp-AppleMusic https://music.apple.com
StartupWMClass=WebApp-AppleMusic
Icon=apple-music
